extends layout
block content
    h1= title
    form(id='AnimalForm', action="/resource/Animal", method="POST")
        div.form-group
            label.AnimalAttr(for='Animal_name') Animal Animal_name
            input#Animal_name(type='text', name='Animal_name')
        div.form-group
            label.AnimalAttr(for='color') Animal color
            input#color(type='text', name='color')
        div.form-group
            label.AnimalAttr(for='weight') Animal weight
            input#weight(type='number', name='weight')
        input(type="submit")
    script.
        document.forms['AnimalForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
        });
