extends layout

block content
  h1= title
  p
   - let result = results
    div(class="container-fliud")
        div(class="row")
            each Animals in result   
                    p Animal_Name  #{Animals.Animal_name}
                    p color   #{Animals.color}
                    p Weight  #{Animals.weight}
    

